<div *ngIf="child">
  <h2>{{ child.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ child.id }}</div>
  <div>
    <label for="child-name">Name: </label>
    <input id="child-name" [(ngModel)]="child.name" placeholder="Name" />
  </div>
  <div>
    <label for="child-name">Surname: </label>
    <input
      id="child-surname"
      [(ngModel)]="child.surname"
      placeholder="Surname"
    />
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>
